{% extends "base.html" %}

{% block content %}
<h2>Below are the Available products. </h2>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="products">
    {% for product in products %}
        <div class="product-card">
            <!-- {% if product.image %}
                <img src="{{ product.image.url }}" width="200">
            {% endif %} -->

            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}