{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm" style="max-width: 400px; margin: auto;">
  <div class="card-body p-4">
    <h3 class="card-title text-center mb-4">Create an Account</h3>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
      {% for field in form %}  
      <div class="mb-3">
        <label for="signupName" class="form-label">{{field.label}}</label>
        <input type="text" class="form-control"  placeholder="{{field.label}}" required>
      </div>
      
      {% endfor %}
    
      
      <button type="submit" class="btn btn-success w-100">Sign Up</button>
      
      <div class="text-center mt-3">
        <small>Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Log in</a></small>
      </div>
    </form>
  </div>
</div>


{% endblock %}